@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./vars.css";

body {
  font-family: 'Oswald', sans-serif;
}

button:focus {
  outline: 0;
}

.typed-cursor {
  color: white;
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
}

.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  animation: 0;
}

@keyframes typedjsBlink {
  50% { opacity: 0; }
}
